h1 {
         
    
         
        
        background-size: 10%;
         font-family: Georgia, 'Times New Roman', Times, serif;
         border: 10px;
         
         border-block-width: 30px;
         




}

h2 {color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background:#ffffff;
width:100;
max-height: 100%;




}

hr{
border: none;
height: 6px;
background-color:lightgray;



}

.button #generate{


    background-color: aqua;
}









button {color: #ffffff;
    background-color:#4aaaa5;
    










}

.header nav{ float: right;
    margin-top:-5%;
    text-decoration-line: none;





}

img {


margin-right: 2%;
clear: both;
float: left;
height:100%;




}

.form { width:100%;
    border:2px;
    margin:20px;
    box-sizing: border-box;







}

text area{width:100%;
    position: absolute;
    top: 50%;
    left:50%;
    background: #ffffff;
padding:30px 40px;
text-align: center;
border-color: black;
box-sizing: border-box;
}


.input{width:100%;
    border:2px;
    margin:20px;
    
    
    


    




}

.container {position: absolute;
    width:100%;
    height:100%;







}

.container__nikelogo{position: relative;
    height:0%;
    width:100%;
    object-fit: cover;





}

#bulk {color: #777777;

font-family: Arial, Helvetica, sans-serif;




}


body {background-image:url(../Img/criss-cross.png);
    padding:5px;
    border-block: 30px;
    width: 90%;
    height:90%;
    
    background-size: contain;
    
    
}

section {background-color: #ffffff;
    padding: 10px;
    border: 10px;
    margin-top: 10px;





}

a:link {background-color: #ffffff;

    border-block-color: #ffffff;
    text-decoration-line: none;
    font-size: medium
    






}

mark {background:#4aaaa5;
    color:#ffffff;






}


a {text-decoration: none;
    





}

.check{width:300px;
    height:200px;
position: relative;
float: left;
padding:10px;


}

.text{position: absolute;
    font-size: 20px;
    color: #ffffff;
    background-color: aqua;
    font-weight:200;
    bottom:50%;
    width:22%;
    text-align: center;
    text-shadow: #777777;





}


.footer{
position: fixed;
left:0;
bottom: 0;
background-color: #777777;
color: #ffffff;
text-align:center;
width:100%;
border:5%;
border-top-style: solid;
border-top-width: thick;
border-top-color: aqua;





}




